* {
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  .card {
    cursor: pointer;
    width: 20em;
    height: 30em;
    background-image: url(https://i.imgur.com/RjLX3BD.png),
      linear-gradient(
        0deg,
        rgb(59, 54, 8) 0%,
        rgb(78, 71, 10) 35%,
        rgb(187, 162, 95) 100%
      );
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1em;
    transition: all 1s;
    transform-style: preserve-3d;
    box-shadow: 0 0.2em 0.5em 0.2em rgba(0, 106, 128, 0.5);
  }

  .card:hover {
    background-image: url(https://i.imgur.com/RjLX3BD.png),
      linear-gradient(
        0deg,
        rgba(90, 69, 0, 0.699) 0%,
        rgb(255, 236, 150) 15%,
        rgb(99, 77, 6) 100%
      );
    transform: perspective(100em) rotate3d(1, 0, 0, 45deg);
    box-shadow: 0 4em 1em 0.5em rgba(0, 106, 128, 0.5);
  }

  .card-popup {
    opacity: 0;
    width: 20em;
    height: 30em;
    background-image: url(https://i.imgur.com/RjLX3BD.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s;
  }
  .card:hover > .card-popup {
    opacity: 0.9;
    transform: perspective(200em) rotate3d(1, 0, 0, -45deg)
      translate3d(0, -4em, 0);
  }
  

  .card2 {
    cursor: pointer;
    width: 20em;
    height: 30em;
    background-image: url(https://cdn-icons-png.flaticon.com/256/53/53283.png),
      linear-gradient(
        0deg,
        rgb(59, 54, 8) 0%,
        rgb(78, 71, 10) 35%,
        rgb(187, 162, 95) 100%
      );
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1em;
    transition: all 1s;
    transform-style: preserve-3d;
    box-shadow: 0 0.2em 0.5em 0.2em rgba(0, 106, 128, 0.5);
  }

  .card2:hover {
    background-image: url(https://cdn-icons-png.flaticon.com/256/53/53283.png),
      linear-gradient(
        0deg,
        rgba(90, 69, 0, 0.699) 0%,
        rgb(255, 236, 150) 15%,
        rgb(99, 77, 6) 100%
      );
    transform: perspective(100em) rotate3d(1, 0, 0, 45deg);
    box-shadow: 0 4em 1em 0.5em rgba(0, 106, 128, 0.5);
  }

  .card-popup2 {
    opacity: 0;
    width: 20em;
    height: 30em;
    background-image: url(https://cdn-icons-png.flaticon.com/256/53/53283.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s;
  }
  .card2:hover > .card-popup2 {
    opacity: 0.9;
    transform: perspective(200em) rotate3d(1, 0, 0, -45deg)
      translate3d(0, -4em, 0);
  }
  