<footer style="position: fixed; bottom: 0; width: 100%; background-color: black; ">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>S</em>port<em>S</em>ync</a>
                    <p>Copyright &copy; 2017 SportSync 
                   <br>Design: templatemo</p>
                </div>
            </div>s
            <div class="col-md-3 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>Universidade de Aveiro</li>
                        <li>DETI <br></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: 090-090-0320</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
