

<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>Sport</em><span>Sync</span> Center</h2>
            <p>SportSync is interactive site developed for a costumized user experience of his/her favourite sport statistics, made for all the real enthusiasts of the sports</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Let's Start</a>
            </div>
        </div>
    </div>
</div> 