<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>S</em>port<em>S</em>ync</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">Home</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
                    <li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">Login</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">Register</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>Sport</em><span>Sync</span> Center</h2>
            <p>SportSync is interactive site developed for a costumized user experience of his/her favourite sport statistics, made for all the real enthusiasts of the sports</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Let's Start</a>
            </div>
        </div>
    </div>
</div>