
<!-- flip-card-container -->
<div class="flip-card-container" style="--hue: 220; margin:  5%;" >
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src={{url}} alt="Brohm Lake">
          <figcaption>{{equipa?.nome}}</figcaption>
        </figure>
        
        <ul *ngIf="id == 3">
          <li>Won: {{won}}</li>
          <li>Lost: {{lost}}</li>
          <li>Draws: {{draws}}</li>
        </ul>
        <ul *ngIf="id == 4">
            <li>Won: {{won}}</li>
            <li>Lost: {{lost}}</li>
          </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src={{url}}>
        </figure>
        
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
  <!-- /flip-card-container -->
  