
<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item" id="service1">
                    <div class="icon">
                        <img src='/src/assets/img/about-bg.jpg' alt="">
                    </div>
                    <h4>Team Statistics</h4>
                    <div class="line-dec"></div>
                    <p>Team performance metrics, historical data, rankings, and comparisons.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item" id="service2">
                    <div class="icon">
                        <img src="img/service_icon_02.png" alt="">
                    </div>
                    <h4>Player Statistics</h4>
                    <div class="line-dec"></div>
                    <p>Detailed statistics for individual players, including performance metrics, historical data, and achievements.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item" id="service3">
                    <div class="icon">
                        <img src="img/service_icon_03.png" alt="">
                    </div>
                    <h4>Standings</h4>
                    <div class="line-dec"></div>
                    <p>Whatch the Standings of your favouritet team</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item" id="service4">
                    <div class="icon">
                        <img src="img/service_icon_04.png" alt="">
                    </div>
                    <h4>SportSync Fantasy League</h4>
                    <div class="line-dec"></div>
                    <p>You think you know all about who's winning tonight? Use you're knowledge to enter our fantasy league</p>
                </div>
            </div>
        </div>
    </div>
</section>