
    <app-navbar></app-navbar>
<div id="table-container">  

  

<table id="myTable"  >
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    
    
        <tr *ngFor="let jogador of jogadores; let i = index" >
        <td><span *ngIf="jogador.valor != 0.00" class="dot green"></span> </td>
        <td>{{jogador.fullname}}</td>
        <td *ngIf="jogador.valor != 0.00">{{jogador.valor}}</td>
        </tr>
    


  </tbody>
</table>

<div class="container" >

</div>

</div>
    <app-footer></app-footer>
